{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <h2 class="text-center">Cadastro de Usuário</h2>
    <hr>
    <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Seu formulário possuí erros
                {% for field in form %}
                {% if field.errors %}
                    {{field.errors}}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}

